<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Desarrolla2 Cache test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./Test</directory>
        </whitelist>
        <blacklist>
            <directory>/usr/share/pear/</directory>
            <directory>./vendor</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>
