<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         backupStaticAttributes="false"
         processIsolation="false"
         stopOnFailure="false"
         backupGlobals="false"
         syntaxCheck="false"
         colors="true">

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Desarrolla2 Cache test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./Test</directory>
        </whitelist>
        <blacklist>
            <directory>/usr/share/pear/</directory>
            <directory>./vendor</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>